
#pimport-import-table td {
  padding: 5px 20px;
}
#pimport-import-table th {
  padding: 5px 20px;
}
.pimport-import-center {
  text-align: center;
}
#pimport-import-manage a {
  clear: left;
}
.import_manage_link {
  margin: 1em;
}
#pimport-import-manage #edit-save {
  margin: 0 1em 0 0;
}
